@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    business;
}

@layer base {
  body {
    font-size: 14px;
    line-height: 1.6;
    min-height: 100vh;
  }
}
